#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e0e0e0;
}

.card {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: gray 2px 2px 5px;
  width: 30%;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

p {
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
  text-decoration: none;
}
